* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* body{ */
    /* overflow-y: scroll; */
/* } */
#bg-root{
    position: absolute;
    width: 100vh;
    height: 100vw;
}
#page-root{
    padding: var(--m-gaps-px);
}


:root {
    --m-bg: #4f258d;
    --m-l-fg:#381b65;
    --m-b-fg: #6530b5;
    --m-alt-fg: rgb(7, 153, 242);
}
.cl{
    --m-col:var(--m-l-fg)
}
.cb{
    --m-col:var(--m-b-fg)
}
.ca{
    --m-col:var(--m-alt-fg)
}
.container{
    position:relative;
    box-sizing: border-box;
    border-radius: var(--m-container-radius);
    padding: 0;
    margin: 0 !important;
}
.f{
border: 2px solid var(--m-col);
background-color: var(--m-col);
}
#page-root{
    width: 100%;
    height: 100%;

}
#bg-root{
    width: 100%;
    height: 100%;
}
.x-stretch{
    width: 100%;
}
.y-stretch{
    height: 100%;
}