<div class="m-container" id="navbar">
    <div class="m-button nav-item col-md1">Home</div>
    <div class="m-button nav-item col-md2">Board</div>
    <div class="m-button nav-item col-md2">Console</div>
    <div class="m-button nav-item col-md3">Games</div>
    <div class="m-button nav-item col-md4">Github</div>
    <div class="m-button nav-item col-md5">Contact</div>
  </div>