<div class="m-container" id="navbar">
    <a class="m-button nav-item col-md1" href="/">Home</a>
    <a class="m-button nav-item col-md2" href="/sign">Sign In</a>
    <a class="m-button nav-item col-md3" href="/games">Games</a>
    <a class="m-button nav-item col-md4" href="https://github.com/CoolElectronics/CoolElectronics.me">Github</a>
    <a class="m-button nav-item col-md5" href="mailto://kveonl98@gmail.com">Contact</a>
</div>