a {
	user-select: none;
	text-decoration: none !important;
}
#page-container {
    margin: var(--m-gaps-px);
}

#bgapp {
    position: fixed;
    top: 0px;
}

.float-bottom {
    bottom: 0px;
}
.m-button {}

.m-text {
    color: var(--m-font-fg);
    font-family: var(--m-font);
}

.t1 {
    font-size: 4em;
}

.t2 {
    font-size: 2em;
}

.t3 {
    font-size: 1.5em;
}

.t4 {
    font-size: 1.2em;
}

.t5 {
    font-size: 1em;
}

.m-hidden {
    display: none;
}

.inline {
    display: inline;
}

.m-span {
    position: relative;
    width: 100% !important;
}

.no-span {
    width: fit-content !important;
}

.span-rest {
    width: auto;
}

#navbar {
    grid-area: navbar;
    display: grid;
    justify-content: space-evenly;
}

.nav-item {
    justify-content: space-evenly;
    margin: 5px;
    width: 70px;
    min-height: 0px;
    opacity: 100%;
    /* background-color: chartreuse; */
    text-align: center;
    line-height: 50px;
    justify-content: center;
    font-family: var(--m-font);
    font-size: 1em;
    color: var(--m-font-fg);
}

.centered {
    text-align: center;
    justify-content: center;
    margin: auto;
    display: flex;
}
.tcentered{
    line-height: calc(100% * 2);
}

body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vcenter-children{
    display: flex;
    align-items: center;
}

.m-container {
    position: relative;
    opacity: var(--m-container-transparency);
    border-radius: var(--m-container-radius);
    width: 100%;
    height: 100%;
    border: 2px solid var(--m-main-fg);
    background-color: var(--m-main-fg);
}

.alt-container {
    position: relative;
    opacity: var(--m-container-transparency);
    border-radius: var(--m-container-radius);

    border: 12px solid var(--m-alt-fg);
    background-color: var(--m-alt-fg);
}

.m-m-container {
    position: relative;
    opacity: var(--m-container-transparency);
    border-radius: var(--m-container-radius);
    border: 2px solid var(--m-alt-fg);
    background-color: var(--m-alt-fg);
}

@font-face {
    font-family: Assistant;
    src: local("Assistant"), local("Assistant-Bold"), url(../Assistant.ttf);
    font-weight: bold;
}
#header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: end;
    align-items: space-between;
    padding: 0px;
}
.header-item{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.right{
    justify-content: end;
    float: right;
}
.left{
    justify-content: start;
    float: left;
}
.fa{
	width: 4%;
    cursor: pointer;
	height: auto;
    color: var(--m-font-fg);
}
.fa-small{
	width: 3%;
    cursor: pointer;
	height: auto;
    color: var(--m-font-fg);
}
.nopad{
    margin: 0px !important;
    padding: 0px !important;
}
.pad {
    margin: var(--m-gaps-px);
}
#profile-picture {
	width: 40px;
	height: 40px;
    border-radius: 50%;
}

:root {
    --m-font: Assistant;
    --m-font-fg: whitesmoke;
    --m-main-fg: grey;
    --m-gaps-px: 10px;
    --m-container-transparency: 94%;
    --m-container-radius: 10px;
    --m-alt-fg: teal;
}
.yscrollable::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.yscrollable {
	overflow-x: hidden;
	overflow-y: scroll;
}
.text-centered{
    text-align: center;
}
.link{
    padding: 0px;
    margin: 0px;
}