:root {
	--m-main-fg: #d9d9d9;
	--m-alt-fg: #bfbfbf;
	--m-alt-alt-fg: #a6a6a6;
	--m-inner-gaps-px: 5px;
	--m-font-fg: #0d0d0d;
}



body {
	background-color: var(--m-alt-fg);
	/* overflow: initial; */
}

/*  */
/* #9551E8 */
#page-container {
	height: 100%;
	width: calc(100% - var(--m-gaps-px) * 2);
	display: grid;
	grid-column-gap: var(--m-gaps-px);
	grid-row-gap: var(--m-gaps-px);
	grid-template-columns: 20fr 80fr;
	grid-template-rows: 7vh 90vh;

	grid-template-areas: "header header""updates-container main-container";
}

* {
	user-select: none;
}

#title {
	text-align: center;
	font-size: 10vh;
	line-height: -5vh;
	text-overflow: clip;
	white-space: nowrap;
}

#updates-container {
	grid-area: updates-container;
	padding: 0px !important;
}

#products-container {
	grid-area: main-container;
	display: grid;
	grid-column-gap: var(--m-gaps-px);
	grid-row-gap: var(--m-gaps-px);
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(auto-fill, 1fr);
	padding: calc(var(--m-inner-gaps-px) * 2);
	overflow-y: scroll;
}

#products-container::after,
#products-container::before {
	display: none !important;
}

.product {
	/* width: 100%; */
	aspect-ratio: 1 / 1;
	background-color: var(--m-alt-alt-fg);
	/* border: 2px solid var(--m-alt-alt-fg); */
	border-radius: var(--m-container-radius);
	z-index: -2;
	position: relative;
	padding: 2%;
}

.product img {
	/* background-image: url("/img/chat-icon.png"); */
	filter: blur(2px);
	border-radius: var(--m-container-radius);
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 100%;
}


.flip {
	--m-font-fg: whitesmoke;
}

.shadow {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.updates-header {
	background-color: var(--m-font-fg);
	height: 8%;
	border-radius: calc(var(--m-inner-gaps-px) * 2);

}

.pfp {
	display: inline;
	margin: 0px;
	padding: 0px;
	width: 50px;
	height: 50px;
}

.floating-menu {
	display: flex;
	position: absolute;
	background-color: var(--m-main-fg);
	border: 2px solid var(--m-main-fg);
	border-radius: var(--m-container-radius / 2);
	background-attachment: fixed;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	border-radius: var(--m-inner-gaps-px);
	z-index: 999;
	width: 35vw;
	height: 35vh;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: var(--m-inner-gaps-px);
}

.floating-menu-button {
	display: inline;
	min-width: none;
	outline: 0px;
	width: 100%;
	border: none;
	height: auto;
	margin: 1px;
	background-color: var(--m-alt-fg);
	color: whitesmoke;
	border-radius: var(--m-inner-gaps-px);
}