:root {
    --m-main-fg: #6C3BA8;
    --m-alt-fg: #3B205C;
    --m-inner-gaps-px: 5px;
}

body {
    background-color: #3B205C;
}

/*  */
/* #9551E8 */
#page-container {
    height: 100%;
    width: calc(100% - var(--m-gaps-px) * 2);
    display: grid;
    grid-column-gap: var(--m-gaps-px);
    grid-row-gap: var(--m-gaps-px);
    grid-template-columns: min-content calc(100% - var(--m-gaps-px) * 32);
    grid-template-rows: 10vh 85vh;

    grid-template-areas: "header header header""navbar feed-container feed-container""navbar feed-container feed-container";
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#title {
    text-align: center;
    font-size: 10vh;
    line-height: -5vh;
    text-overflow: clip;
    white-space: nowrap;
}

#header {
    grid-area: header;
    display: flex;
    justify-content: end;
    align-items: center;
}

#header * {
    margin: var(--m-gaps-px);
}


#feed-container {
    grid-area: feed-container;
    display: grid;
    /* grid-column-gap: var(--m-gaps-px);
    grid-row-gap: var(--m-gaps-px); */
    grid-template-columns: 80% 20%;
    padding: 0px;
    grid-template-rows: calc(100% - var(--m-inner-gaps-px));

    grid-template-areas: "contentbox userlist""contentbox userlist";
}

#feed-container * {
    margin: var(--m-inner-gaps-px);
}

#contentbox {
    display: flex;
    grid-area: contentbox;

}

#userlist,
#userlist-friends,
#userlist-users,
#userlist-friends-container,
#userlist-users-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    grid-area: userlist;
    overflow: hidden;
    flex-wrap: nowrap;
    padding: 0px;
}

.userlisting {
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.userlistname {
    overflow-x: hidden;
    white-space: nowrap;
}

.pfp {
    display: inline;
    margin: 0px;
    padding: 0px;
}