:root {
	--m-main-fg: #024975;
	--m-alt-fg: #036cad;
	--m-alt-alt-fg: #265775;
	--m-light-fg: #4fb6f7;
}

body {
	background-color: #0698f5;
}

#page-container {
	height: 100%;
	width: calc(100% - var(--m-gaps-px) * 2);
	display: grid;
	grid-column-gap: var(--m-gaps-px);
	grid-row-gap: var(--m-gaps-px);
	grid-template-columns: 90fr 10fr;
	grid-template-rows: 7vh 90vh;

	grid-template-areas: "header header" "games-container selbar";
}

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#header {
	grid-area: header;
}

#selbar {
	grid-area: selbar;
	overflow-y: scroll;
}

#mainframe {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
	border-radius: var(--m-container-radius);
	overflow: hidden;
}

#games-container {
	grid-area: games-container;
	display: flex;
	align-items: center;
	justify-content: center;
	/* height: 80vh; */
	padding: 0px;
}
.collection {
	/* overflow-y: scroll; */
	margin: 8px;
	background-color: var(--m-alt-fg);
	border-radius: var(--m-container-radius);
}
.game {
	background-color: var(--m-light-fg);
	margin: 5px;
	border-radius: calc(var(--m-container-radius) / 2);
}
p {
	display: inline;
}
