<!DOCTYPE html>
<html lang="en-us">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="admin.css" />
		<script src="admin.js"></script>
	</head>

	<body x-data="App">
		<div
			class="floating-menu"
			x-show="menuenabled"
			@click.away="menuenabled = false"
		>
			<div id="contextmenu-header">
				<div class="m-text h4 x-button" @click="menuenabled = false">x</div>
			</div>
			<template x-for="user in users">
				<div>
					<p x-text="user.username" class="m-text h3"></p>
					<input
						@change="updatepermission(user,$el.value)"
						:placeholder="user.permission"
					/>
				</div>
			</template>
		</div>
		<div id="page-container">
			<div class="container-fluid m-container" id="header">
				<p class="m-text t3" @click='window.location.replace("/")'>home</p>
				<p class="m-text t1" id="title">ADMIN PANEL</p>
				<p class="m-text t3" @click="signout">sign out</p>
			</div>
			<div class="container-fluid m-container" id="panel-container">
				<button class="m-button" @click="crd">START CRD SESSION</button>
				<button class="m-button" @click="mc">START MC SERVER</button>
				<button class="m-button" @click="menuenabled = true">
					MANAGE USER PERMISSION
				</button>
			</div>
		</div>
	</body>
</html>
