<html lang="en-us">

<head>
	<%- include('../partials/head') %>
		<link rel="stylesheet" href="editor.css" />
		<script src="editor.js"></script>
</head>

<body>
	<div id="page-container" x-data="App">
		<%- include('../partials/headbar') %>
			<div class="container-fluid m-container" id="main-container">main body</div>
	</div>
</body>

</html>