<!DOCTYPE html>
<html lang="en-us">

<head>
    <%- include('../partials/head') %>
        <script src="frc.js"></script>
        <link rel="stylesheet" href="frc.css" />
</head>

<body>
    <div id="page-container" x-data="App">
        <div class="container-fluid m-container" id="main-container">
        </div>
    </div>
</body>

</html>