<!DOCTYPE html>
<html lang="en-us">

<head>
    <%- include('../partials/head') %>
    <script src="games.js"></script>
    <link rel="stylesheet" href="games.css">
</head>

<body>
    <div id="page-container">
        <div class="container-fluid m-container" id="header">
            <p class="m-text col-md-1" id="title">CoolElectronics.me gaming repository</p>
        </div>
        <%- include('../partials/navbar') %>
        <div class="container-fluid m-container" id="sign-container">
            <p class="m-text t2 centered">Once you sign in or make an account, you will have acess to extra features in coolelectronics.me</p>
        </div>
        <div class="m-container" id="selbar">
            <div class="m-button nav-item col-md1" id="nv-home">Home</div>
            <div class="m-button nav-item col-md2" id="nv-signin">Sign In</div>
            <div class="m-button nav-item col-md3" id="nv-games">Games</div>
            <div class="m-button nav-item col-md4" id="nv-github">Github</div>
            <div class="m-button nav-item col-md5" id="nv-contact">Contact</div>
        </div>

    </div>

</body>

</html>