<html lang="en-us">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="home.css" />
        <script src="home.js"></script>
</head>

<body>
    <div id="page-container" x-data="App">
        <%- include('../partials/headbar') %>
            <div class="container-fluid m-container" id="main-container">will make later. just press chat for now, its
                better than half the website being broken.
                <br>
                i'll remember to make a new branch next time ig
            </div>
    </div>
</body>

</html>