<!DOCTYPE html>
<html lang="en-us">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="index/index.css" />
		<script src="index/index.js"></script>
		<script src="sketches/app.js"></script>
	</head>

	<body class="yscrollable" x-data="{arr: Array(100)}">
		<div id="bg-root"></div>
		<div id="page-root">
			<div class="container x-stretch centered">
				<p class="m-text h1">CoolElectronics.me</p>
			</div>
			<div id="bottom-root">
				<div class="container x-stretch centered f fa">
					<
				</div>
			</div>
		</div>
	</body>
</html>
