<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
        <link rel="stylesheet" type="text/css" href="index/index.css" />
    </head>
    <body class="container">
        <div id="bgapp">

        </div>
        <div id="page-container">
          <div class="container-fluid m-container" id="bio-container">
            <div class="mask col-md-1" id="bio-mask"></div>
            <p class="m-text col-md-1" id="bio-title">coolelectronics.me</p>
          </div>
          <div class="m-container" id="navbar">
              <%- include('../partials/navbar'); %>
          </div>
          <div class="container-fluid m-container" id="about-container">
            <p class="m-text">
              coolelectronics.me<br /><br /><br /><br /><br />fasdkfhajk
            </p>
          </div>
          <div class="container-fluid m-container" id="footer">
            <p class="m-text">
              message to administrators: this is not, nor will ever be a proxy
              website
            </p>
          </div>
        </div>
    </body>
</html>
