<html lang="en-us">

<head>
	<%- include('../partials/head') %>
		<link rel="stylesheet" href="home.css" />
		<script src="home.js"></script>
</head>

<body>
	<div id="page-container" x-data="App">
		<div class="container-fluid m-container" id="header">
			<p class="m-text t3" x-text="`${points} social credit`"></p>
			<a class="m-text t3" href="/games">games</a>
			<a class="m-text t3" href="/chat">chat</a>
			<a class="m-text t3" href="/editor">editor</a>
			<a class="m-text t3" href="/admin" x-show="permission >= 4">super secret admin panel</a>

			<a class="m-text t3" @click="signout">sign out</a>

			<a :href="`/profile?user=${username}`" class="m-text t2" x-text="username"></a>
			<a :href="`/profile?user=${username}`">
				<img :src="`/img/${username}/pfp.png`" id="profile-picture" />
			</a>
		</div>
		<div class="container-fluid m-container" id="main-container">
			<div class="container-fluid alt-container" id="left"></div>
			<div class="container-fluid alt-container" id="feed-container">
				<template x-for="post in mainposts">
					<div class="container-fluid post-container" x-data="Post(post)" @click="activepost = post.uuid">
						<div class="post-header">
							<a :href="`/profile?user=${post.username}`" class="m-inline">
								<img :src="`/img/${post.username}/pfp.png`" class="pfp m-inline"
									@click="window.location.replace(`/profile?user=${post.username}`)" />
								<p class="m-text h2 m-inline" x-text="post.username"></p>
							</a>
						</div>
						<div class="post-body">
							<p class="m-text h3" x-text="post.body"></p>
						</div>
						<div class="post-footer">
							<p class="m-text h4 m-inline">Reply</p>
							<p class="m-text h4 m-inline">Upvote</p>
							<p class="m-text h4 m-inline">Downvote</p>
							<p class="m-text h4 m-inline">Show comments</p>
						</div>
						<div class="post-comments">
							<template x-for="comment in post.comments">
								<div class="post-comment">
									<a :href="`/profile?user=${comment.username}`" class="m-inline">
										<img :src="`/img/${comment.username}/pfp.png`" class="comment-pfp m-inline" />
										<p class="m-text h3 m-inline" x-text="comment.username"></p>
									</a>
									<br />
									<p class="m-text h4" x-text="comment.body"></p>
								</div>
							</template>
							<input class="m-input m-text h5" x-model="comment" placeholder="make a comment..."
								x-show="activepost == post.uuid" @keyup.enter="postComment" />
						</div>
					</div>
				</template>
				<a class="m-text h3" @click="loadmore">Load More</a>
			</div>
			<div class="feed-write-container" id="right">
				<p class="m-text h3">New Post:</p>
				<div x-init="postbody = $el" class="m-textarea m-text" role="textbox" contenteditable>
					<br />
				</div>
				<button @click="post">post</button>
			</div>
		</div>
	</div>
</body>

</html>