<html lang="en-us">
	<head>
		<%- include('../partials/head') %>
		<link rel="stylesheet" href="profile.css" />
		<script src="profile.js"></script>
	</head>
	<body>
		<div id="page-container" x-data="App">
			<div class="container-fluid m-container" id="header">
				<p
					class="m-text t3 align-last-left"
					@click="window.location.replace('/games')"
				>
					games
				</p>
				<p class="m-text t3" @click="socket.emit('sign',{type:'out'})">sign out</p>

				<p class="m-text t2" x-text="username"></p>
				<img :src="`/img/${username}/pfp.png`" id="profile-picture" />
			</div>
			<div class="container-fluid m-container" id="feed-container"></div>
		</div>
	</body>
</html>
