<html lang="en-us">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="profile.css" />
        <script src="profile.js"></script>
</head>

<body>

    <div class="floating-menu" x-data="ContextMenu" x-show="enabled" @click.away="enabled = false">
        <div id="contextmenu-header">
            <div class="m-text h4 x-button" @click="enabled = false">x</div>
        </div>
        <template x-for="item in menuitems">
            <button class="floating-menu-button" x-text="item.name" @click="item.action();enabled = false"></button>

        </template>
    </div>
    <div id="page-container" x-data="App">
        <div class="container-fluid m-container" id="header">
            <p class="m-text t3 align-last-left" id="games">games</p>
            <p class="m-text t3" id="sign-out">sign out</p>
            <a href="/admin" x-show="permission >= 3">super secret admin panel</a>

            <p class="m-text t2" x-text="username"></p>
            <img :src="`/img/${username}/pfp.png`" id="profile-picture" />
        </div>
        <div class="container-fluid m-container" id="feed-container">
            <div class="container-fluid m-m-container" id="contentbox">
                <template x-for="tab in tabs">
                    <div class="content-tab chat-tab" x-show="tab.uuid == activetabid" x-data="Tab(tab)">
                        <!--x-if="activetab == tab" -->
                        <div class="room-name-container chat-tab-container">
                            <p class="m-text h2" x-text="tab.name"></p>
                            <img class="useractions-button" @click="roomactions(tab)" src="/img/show-more.png">
                        </div>
                        <div class="main-chat-container chat-tab-container" x-init="$($el).scrollTop(99999999);
                                $watch('tab', (v, oldv) => {
                                    $($el).scrollTop(99999999);
                            });">
                            <template x-for="message in tab.messages">
                                <div class="nopad">
                                    <img :src="`/img/${message.sender}/pfp.png`" class="pfp m-inline">
                                    <p class="m-text t4 main-chat-text m-inline"
                                        x-text="`${message.sender}: ${message.message}`">
                                    </p>
                                </div>
                            </template>
                        </div>
                        <div class="textarea-container chat-tab-container">
                            <input class="chat-tab-textarea m-text" x-model="input" @keyup.enter="send()">
                        </div>
                        <div class="container-fluid m-m-container room-userlist">
                            <template x-for="user in tab.users">
                                <div class="userlisting">
                                    <img class="pfp" :src="`/img/${user.username}/pfp.png`">
                                    <p class="m-text h4 userlistname"
                                        x-text="`${user.username} is ${user.online ? 'online' : 'offline'}`"></p>
                                    <img class="useractions-button" src="/img/show-more.png" @click="useractions(user)">
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
                <div class="content-tab" id="settings-tab" x-show="activetabid == 'menu'">
                    <div id="settings-bar">
                        <div class="settings-tab-button" @click="settingstab = 'explore'">
                            <p class="m-text t3">Explore</p>
                        </div>
                        <div class="settings-tab-button align-last-top" id="settings-tab-settings">
                            <p class="m-text t3">Settings</p>
                        </div>
                    </div>
                    <div id="settings-container">

                    </div>
                </div>
            </div>

            <div class="container-fluid m-m-container" id="tabbox">
                <template x-for="tab in tabs">
                    <div class="tab-button" @click="activetabid = tab.uuid">
                        <p class="m-text" x-text="tab.name"></p>
                    </div>
                </template>
                <div class="tab-button" @click="activetabid = 'menu'">
                    <p class="m-text">Menu</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>