<!DOCTYPE html>
<html lang="en-us">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="profile.css" />
    <script src="profile.js"></script>
  </head>

  <body>
    <div id="page-container">
      <div class="container-fluid m-container" id="header">
        <a href="/admin">super secret admin panel</a>
        <p class="m-text t2" id="username">[Username]</p>
        <img src="x" id="settings-button" />
      </div>
      <%- include('../partials/navbar') %>
      <div class="container-fluid m-container" id="feed-container">
        <br />
        <p class="m-text t3">
          broken profile page. just go back for now while i figure it out
        </p>
      </div>
    </div>
  </body>
</html>
