<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
    <script src="sign.js"></script>
    <link rel="stylesheet" href="sign.css" />
</head>

<body>
  <div id="page-container" x-data="app()">
    <div class="container-fluid m-container" id="sign-container">

      <div id="signbox" class="container-fluid alt-container">

        <form action="/api/sign" method="post">
          <p class="m-text h1 " x-text='signup ? " Sign Up" : "Sign In" '>
          </p>
          <!-- <div class="rel-centered"> -->
          <label for="username" class="m-text h4">username:</label>
          <input id="username" type="text" autocomplete="off" x-model="username">
          <br>
          <label class="m-text h4">password:</label>
          <input id="password" type="password" autocomplete="off" x-model="password">
          <br>
          <label class="m-text h4" x-show="signup">confirm password:</label>
          <input id="confirmpassword" type="password" autocomplete="off" x-show="signup" x-model="confirmpassword">
          <br>
          <a class="m-link m-inline" @click="signup = !signup"
            x-text='signup ? "sign in instead" : "sign up instead"'></a>
          <br><br>
          <input type="submit" class="btn btn-success bottom" :value='signup ? "Sign Up" : "Sign In"'></input>
        </form>
      </div>
    </div>
</body>

</html>