<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
    <script src="sign.js"></script>
    <link rel="stylesheet" href="sign.css" />
</head>

<body>
  <div id="page-container" x-data="app()">
    <div class="container-fluid m-container" id="sign-container">

      <div id="signbox" class="container-fluid alt-container">
        <p class="m-text h1" x-text='signup ? " Sign Up" : "Sign In" '>
        </p>
        <label class="m-text h4">username:</label>
        <input type="text" class="m-span" autocomplete="off" x-model="username">
        <br>
        <label class="m-text h4">password:</label>
        <input type="password" class="m-span" autocomplete="off" x-model="password">
        <br>
        <label class="m-text h4" x-show="signup">confirm password:</label>
        <input type="password" class="m-span" autocomplete="off" x-show="signup" x-model="confirmpassword">
        <br>
        <a class="m-link m-inline" @click="signup = !signup"
          x-text='signup ? "sign in instead" : "sign up instead"'></a>
        <button class="btn btn-success" @click="sign" x-text='signup ? "Sign Up" : "Sign In"'></button>

      </div>
    </div>
</body>

</html>